<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head">
    <meta charset="UTF-8">
    <title th:value="${board.getTitle()}"></title>
</head>
<body>
<div th:replace="layout/navbar :: nav"></div>

<div id="boardForm" th:if="${board != null}">

    <div class="mb-3">
        <label for="boardId" class="form-label">게시글 번호</label>
        <input type="text" class="form-control" id="boardId" name="boardId" th:value="${board.getId()}" readonly>
    </div>
    <div class="mb-3">
        <label for="nickname" class="form-label">작성자 닉네임</label>
        <input type="text" class="form-control" id="nickname" name="nickname" th:value="${board.getMember().getNickname()}" readonly>
    </div>
    <div class="mb-3">
        <label for="updateTitle" class="form-label">제목</label>
        <input type="text" class="form-control" id="updateTitle" name="title" th:value="${board.getTitle()}" readonly>
    </div>
    <div class="mb-3">
        <label for="updateTitle" class="form-label">내용</label>
        <textarea class="form-control" id="updateContent" name="content" aria-label="With textarea" readonly>[[${board.getContent()}]]
        </textarea>
    </div>
    <div th:if="${session.userInfo.getId().equals(board.getMember().getId())}">
        <button type="button" id="readOnlyButton" class="btn btn-info">수정</button>
        <button type="button" class="btn btn-primary" style="display: none" onclick="updateBoard()">확인</button>
        <button type="button" class="btn btn-primary" style="display: none" onclick="resetPage()">취소</button>
    </div>

    <div id="commentForm">
        <label for="createComment" class="form-label">댓글 작성</label>
        <textarea class="form-control" id="createComment" name="comment"></textarea>
        <button type="button" id="createCommentButton" class="btn btn-primary" onclick="createCommentRequest()">작성</button>
        <button type="button" class="btn btn-primary" onclick="resetPage()">취소</button>
    </div>
    <div th:each="comment : ${commentList}">
        <label for="comment" class="form-label">[[${comment.member.nickname}]]</label>
        <p id="comment">[[${comment.comment}]]</p>
    </div>
    <div th:if="${commentList.isEmpty()}">
        작성된 댓글이 없습니다
    </div>
</div>
<div th:if="${board == null}">
    게시글을 찾을 수 없습니다.
</div>
<a href="/">메인 이동</a>
</body>
<script>
    var readOnlyButton = document.getElementById('readOnlyButton');
    var hiddenButtons = document.getElementsByClassName('btn btn-primary');
    var updateTitle = document.getElementById('updateTitle');
    var updateContent = document.getElementById("updateContent");

    readOnlyButton.addEventListener('click', function () {
        updateTitle.readOnly = false;
        updateContent.readOnly = false;

        readOnlyButton.style.display = 'none';

        for (var j = 0; j < hiddenButtons.length; j++) {
            hiddenButtons[j].style.display = 'inline';
        }
    });

    function resetPage() {
        location.reload();
    }

    function updateBoard() {
        var formData = {
            memberId: [[${session.userInfo.id}]],
            boardId: document.getElementById("boardForm").querySelector('input[name="boardId"]').value,
            title: document.getElementById("boardForm").querySelector('input[name="title"]').value,
            content: document.getElementById("boardForm").querySelector('textarea[name="content"]').value
        };
        fetch("/api/board/edit", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        })
            .then(function (response) {
                if (response.ok) {
                    alert("수정 성공")
                    window.location.reload();
                } else {
                    response.text()
                        .then(function (message) {
                            alert("수정 실패" + message)
                        });
                }
            })
            .catch(function (error) {
                alert("요청 에러 발생")
            });
    }

    function createCommentRequest() {
        var formData = {
            memberId: [[${session.userInfo.id}]],
            boardId: document.getElementById("boardForm").querySelector('input[name="boardId"]').value,
            comment: document.getElementById("commentForm").querySelector('textarea[name="comment"]').value
        };

        console.log("API 요청 데이터:", formData);

        fetch("/api/comment/new", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        })
            .then(function (response) {
                if (response.ok) {
                    alert("댓글 작성 성공")
                    window.location.reload();
                } else {
                    response.text()
                        .then(function (message) {
                            alert("작성 실패" + message)
                        });
                }
            })
            .catch(function (error) {
                alert("요청 에러 발생")
            });
    }
</script>
</html>